.header{
  width: 100vw;
  height:100px;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
}

.header-left{
  display: flex;
}

.app-name {
  font-size: 30px;
  font-weight: bold;
  margin-right: 20px;
}

#recipe-rator{
  text-decoration: none;
  color:#B19177;
}

.user-name{
  font-size: 20px;
  margin-top: 10px;
  color:#401C00;
}

.button{
  text-decoration: none;
  color: #401C00;
  border: 1px solid #401C00;
  padding:10px;
}