<div class="header">
  <div class="header-left">
    <div class="app-name">
      <h1>レシピレーター</h1>
    </div>
    <div class="user-name">
      <P>たけしさん、ようこそ</p>
    </div>
  </div>
  
  <div class="header-right">
    <div class="user">
      <div class="signup">
        <a href="#" class="signup-button">新規登録</a>
      </div>
      <%# <div class="login">
      </div>
      <div class="recipe">
      </div>
      </div> %>
    </div>
  </div>
</div>
