<div class="top">
  <div class="user-functions">
    <ul class="user-menu">
      <li class="user-name"> 
        <% if user_signed_in? %>
          <p>ようこそ</p> 
        <% end %></li>
      <li class="user-function-link">
        <a id="user-menu-config" href="#" class="user-menu-link">
          <img alt="設定" src="">
        </a>
      </li>
    </ul>
  </div>
</div>