.hide{
  display: none;
}

.ingredient-group{
  display: flex;
}

.ingredient-wrap{
  width:50%;
  text-align: center;
}

.input-ingredient {
  width: 100%;
  margin: 5px;
  height: 48px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid  #401C00;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.ingredient-button{
  width: 50%;
  margin: 5px;
}

.button-wrap{
  display: flex;
}

.ingredients{
  width:50%;
  margin: 0 auto;
}
.ingredients:hover{
  background-color: #f0e68c ;
  cursor: pointer;
  transition: 0.5s;
}

.ingredient-lists{
  margin-top:15px;
}
.ingredient-row{
  display: flex;
  justify-content: space-between;
  border-bottom:solid 1px #e5e5e5 ;
}