.main{
  width:100vw;
  height: calc(100vh - 100px - 100px);
  background-color: #F6F3E8;
  overflow: scroll;
}

.form{
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search{
  padding: 10px;
  color: #401C00;
  border: 1px solid #401C00;
}

.search-form{
  width: 30%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.child{
  border-bottom:#666 1px solid;
  margin: 10px 0;
  padding-left: 11px;
}
.submit{
  margin-top: 10px;
  padding: 10px;
  color: #401C00;
  border: 1px solid #401C00;
}

.recipes{
  width:100vw;
  height: 80vh;
}

.recipe{
  display: flex;
  justify-content: center;
  margin: 20px
}

.food-picture{
  width:200px;
  margin-right: 10px;
}

.title{
  text-decoration: none;
  color: #7D940C;
  font-size: 40px;
}

.description{
  color:#808080;
  font-size: 20px;
}

.ingredient{
  color:#CFAA7F;
  font-size: 20px;
}

@media (max-width: 1024px){

}

@media (max-width: 599px){
  .recipes{
    width: 70vw;
    margin: 0 auto;
  }
  .title{
    font-size: 20px;
  }
  .food-picture{
    width: 150px;
  }
}

