.input-recipe {
  width: 100%;
  margin-top: 5px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid  #401C00;
  background: #fff;
  font-size: 16px;
  resize: none;
}

#ingredients{
  margin-bottom: 5px;
}

.new{
  padding: 15px 0;
}