/* 商品の概要 */

.recipe-show {
  background-color:#F6F3E8;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh ;
}

.name{
  color:#B19177;
}

.recipe-box {
  background-color: #FFF;
  width: 70vw;
  height: 100vh;
  min-width: 1200px;
  padding: 5vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.recipe-img-content {
  position: relative;
}

.recipe-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.recipe-price-box {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.recipe-price-box>.recipe-price {
  font-size: 4vh;
  font-weight: bold;
}

.recipe-price-box>.recipe-postage {
  font-size: 16px;
}


.options{
  display: flex;
  margin-bottom: 10px;
}

.recipe-red-btn {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin: 20px 0px;
  padding: 2vh 4vw;
  text-decoration: none;
  color: #401C00;
  border: 1px solid #401C00;
  background-color:#F6F3E8 ;
  margin-right: 5px;
}


.recipe-destroy {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin: 20px 0px;
  padding: 2vh 6vw;
  text-decoration: none;
  color: #401C00;
  border: 1px solid #401C00;
  background-color:#F6F3E8 ;
}

.recipe-explain-box {
  font-size: 18px;
  margin: 40px 0px;
  color:#808080;
}

.method{
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color:#B19177;
  margin-bottom: 10px;
}